## Data Cleaning and Preparation

In [1]:
import numpy as np
import pandas as pd

- In Data Analysis, a significant amount of time is spent on data preparation: loading, cleaning, transforming, and rearranging. 
    - Such tasks are often reported to take up 80% or more of an analyst’s time. 
- Pandas provides you with a high-level, flexible, and fast set of tools to enable you to manipulate data into the right form.
- Much of the design and implementation of pandas has been driven by the needs of real-world applications.

## Handling Missing Data
- Missing data occurs commonly in many data analysis applications.
    - all of the descriptive statistics on pandas objects exclude missing data by default.
- The missing data is represented in pandas with the floating-point value NaN (Not a Number). 
    - We call this a sentinel value that can be easily detected.

In [ ]:
string_data = pd.Series(['aardvark', 'artichoke', np.nan, 'avocado'])

In [ ]:
string_data

In [ ]:
string_data.isnull()

- In pandas, missing data is also referred  as  NA, 
    - it stands for not available. 
- In statistics applications, NA means
    - data that does not exist 
    - data that exists but was not observed

- When cleaning up data for analysis, it is often important to do analysis on the missing data itself to identify data
collection problems or potential biases in the data caused by missing data.
- The built-in Python None value is also treated as NA:

In [ ]:
string_data[0] = None

In [ ]:
string_data

In [ ]:
string_data.isnull()

<img src="fig/Pandas_NA.png" with=500>

### Filtering Out Missing Data

- We can use dropna

In [ ]:
from numpy import nan as NA

In [ ]:
data = pd.Series([1, NA, 3.5, NA, 7])

In [ ]:
data.dropna()

In [ ]:
data

In [ ]:
#dropna is equivalent to
data[data.notnull()]

- dropna in Dataframe

In [ ]:
data = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA],
                     [NA, NA, NA], [NA, 6.5, 3.]])

In [ ]:
data

In [ ]:
cleaned = data.dropna()

In [ ]:
cleaned

- Passing how='all' will only drop rows that are all NA

In [ ]:
data.dropna(how='all')

In [ ]:
data.dropna(how='any')

In [ ]:
data.dropna(axis=1, how='all')

In [ ]:
data.dropna(axis=1, how='any')

- if you want to keep only rows containing a certain number of observations.

In [ ]:
df = pd.DataFrame(np.random.randn(7, 3))
df.iloc[:4, 1] = NA
df.iloc[:2, 2] = NA

In [ ]:
df

In [ ]:
df.dropna()

In [ ]:
df.dropna(thresh=2)

### Filling In Missing Data

In [ ]:
df.fillna(0)

In [ ]:
#if the value to fill in depends on the column
df.fillna({1: 0.5, 2: 0})

In [ ]:
df

In [ ]:
df.fillna(0, inplace=True)

In [ ]:
df

- computing a value

In [ ]:
df = pd.DataFrame(np.random.randn(6, 3))
df.iloc[2:, 1] = NA
df.iloc[4:, 2] = NA
df

In [ ]:
df.fillna(method='ffill')

In [ ]:
#limit For forward and backward filling, maximum number of consecutive periods to fill
df.fillna(method='ffill', limit =2)

In [ ]:
#we can use other functions
df.fillna(df.mean())

## Data Transformation


### Removing Duplicates

In [ ]:
data = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'],
                     'k2': [1, 1, 2, 3, 3, 4, 4]})
data

In [ ]:
data.duplicated()

In [ ]:
data.drop_duplicates()

In [ ]:
data['v1'] = range(7)
data

In [ ]:
data.drop_duplicates(['k1'])

In [ ]:
data.drop_duplicates(['k1', 'k2'], keep='last')

### Transforming Data Using a Function or Mapping

In [ ]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon',
                              'Pastrami', 'corned beef', 'Bacon',
                             'pastrami', 'honey ham', 'nova lox'],
                     'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

In [ ]:
meat_to_animal = {
  'bacon': 'pig',
  'pulled pork': 'pig',
  'pastrami': 'cow',
  'corned beef': 'cow',
  'honey ham': 'pig',
  'nova lox': 'salmon'
}

In [ ]:
lowercased = data['food'].str.lower()
lowercased

In [ ]:
data['animal'] = lowercased.map(meat_to_animal)
data

In [ ]:
#as an alternative
data['food'].map(lambda x: meat_to_animal[x.lower()])

### Replacing Values

In [ ]:
data = pd.Series([1., -999., 2., -999., -1000., 3.])
data

In [ ]:
data.replace(-999, np.nan)

In [ ]:
data.replace([-999, -1000], np.nan)

In [ ]:
data.replace([-999, -1000], [np.nan, 0])

In [ ]:
data.replace({-999: np.nan, -1000: 0})

### Discretization and Binning

In [1]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

In [2]:
bins = [18, 25, 35, 60, 100]

In [3]:
cats = pd.cut(ages, bins)

NameError: name 'pd' is not defined

In [ ]:
cats

In [ ]:
cats.codes

In [ ]:
cats.categories

In [ ]:
#These are the bin counts for the result of pandas.cut.
pd.value_counts(cats)

In [ ]:
#parenthesis means that the side is open, 
#while the square bracket means it is closed (inclusive). 
#You can change which side is closed by passing right=False:
pd.cut(ages, [18, 26, 36, 61, 100], right=False)

In [ ]:
#You can also pass your own bin names by passing a list or array to the labels option:
group_names = ['Youth', 'YoungAdult', 'MiddleAged', 'Senior']
pd.cut(ages, bins, labels=group_names)

In [4]:
import numpy as np
import pandas as pd
# passing an integer, it will compute
#equal-length bins based on the minimum and maximum values in the data.

data = np.random.rand(20)
pd.cut(data, 4, precision=2)

[(0.021, 0.26], (0.75, 0.99], (0.75, 0.99], (0.26, 0.51], (0.51, 0.75], ..., (0.51, 0.75], (0.51, 0.75], (0.51, 0.75], (0.021, 0.26], (0.26, 0.51]]
Length: 20
Categories (4, interval[float64]): [(0.021, 0.26] < (0.26, 0.51] < (0.51, 0.75] < (0.75, 0.99]]

### Detecting and Filtering Outliers

In [ ]:
# This is a DataFrame with some normally distributed data
data = pd.DataFrame(np.random.randn(1000, 4))
data.describe()

In [ ]:
col = data[2]

In [ ]:
# we want to find values in one of the columns exceeding 3 in absolute value

col[np.abs(col) > 3]

In [ ]:
data[(np.abs(data) > 3).any(1)]

In [ ]:
# we couldcap values outside the interval –3 to 3:
data[np.abs(data) > 3] = np.sign(data) * 3

In [ ]:
#this is how sign works
np.sign(data).head()

### Permutation and Random Sampling

In [ ]:
df = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)))

In [ ]:
sampler = np.random.permutation(5)

In [ ]:
sampler

In [ ]:
df

In [ ]:
df.take(sampler)

In [ ]:
# you can use the sample meth a random subset without replacement
df.sample(n=3)

In [ ]:
#a sample with replacement (to allow repeat choices) is generated by passing replace=True to sample
df.sample(n=10, replace=True)

### Computing Indicator/Dummy Variables
- This converts a categorical variable into a “dummy” or “indicator” matrix. 

- If a column in a DataFrame has k distinct values, 
    - you would derive a matrix or DataFrame with k columns containing all 1s and 0s. 
- pandas has a get_dummies function for doing this

In [2]:
df = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],
                   'data1': range(6)})

In [3]:
df

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5

In [4]:
pd.get_dummies(df['key'])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

In [5]:
dummies = pd.get_dummies(df['key'], prefix='key')

In [6]:
dummies

   key_a  key_b  key_c
0      0      1      0
1      0      1      0
2      1      0      0
3      0      0      1
4      1      0      0
5      0      1      0

In [7]:
#to join the result in the original dataframe
df_with_dummy = df[['data1']].join(dummies)
df_with_dummy

   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0

# Data Wrangling: Clean, Transform, Merge, Reshape

In [ ]:
import pandas as pd
import numpy as np

- Much of the programming work in data analysis and modeling is spent on data preparation
    - loading, cleaning, transforming, and rearranging. 
    -  the way that data is stored in files or databases is not the way you need it .
- Fortunately, pandas along with the Python standard library provide you with a high-level, flexible, and high-performance set of core manipulations and algorithms to enable you to wrangle data into the right form without much trouble.

## Hierarchical Indexing

- Hierarchical indexing  enables you to have multiple (two or more) index levels on an axis.

In [ ]:
data = pd.Series(np.random.randn(9),
                 index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                        [1, 2, 3, 1, 3, 1, 2, 2, 3]])
data

In [ ]:
data.index

In [ ]:
#codes expresses how the indexes are combined
codesArr = np.array([[0, 0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 2, 0, 2, 0, 1, 1, 2]])

In [ ]:
codesArr

- partial indexing

In [ ]:
data["a"]

In [ ]:
data["b"]

In [ ]:
data["b":"d"]

In [ ]:
data[["b","d"]]

In [ ]:
data[:,3]

In [ ]:
data

In [ ]:
data.unstack()

In [ ]:
data.unstack().stack()

- In DataFrame, either axis can have a hierarchical index

In [ ]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                     index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                     columns=[['Ohio', 'Ohio', 'Colorado'],
                              ['Green', 'Red', 'Green']])
frame

In [ ]:
frame["Ohio"]

In [ ]:
frame.loc["a",:]

In [ ]:
frame.index.names = ['key1', 'key2']
frame.columns.names = ['state', 'color']
frame

- statistics by level

In [ ]:
frame.sum(level='key2')

In [ ]:
frame.sum(level='color', axis=1)

## Database-style DataFrame Merges

- pandas.merge connects rows in DataFrames based on one or more keys. 
- pandas.concat glues or stacks together objects along an axis.
- combine_first instance method enables splicing together overlapping data to fill in missing values in one object with values from another.

- Merge or join operations combine datasets by linking rows using one or more keys.
    - These operations are central to relational databases (e.g., SQL-based).

In [ ]:
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                    'data1': range(7)})
df2 = pd.DataFrame({'key': ['a', 'b', 'd'],
                    'data2': range(3)})

In [ ]:
df1

In [ ]:
df2

In [ ]:
pd.merge(df1, df2) #natural join

In [ ]:
pd.merge(df1, df2, on='key') # join using the attribute specified in the "on" parameter

In [ ]:
df3 = pd.DataFrame({'lkey': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                    'data1': range(7)})
df4 = pd.DataFrame({'rkey': ['a', 'b', 'd'],
                    'data2': range(3)})

In [ ]:
df3

In [ ]:
df4

In [ ]:
#we can specify the join attributes on the left and right tables
pd.merge(df3, df4, left_on='lkey', right_on='rkey')

In [ ]:
pd.merge(df3, df4, left_on='lkey', right_on='rkey', how='left')

In [ ]:
pd.merge(df3, df4, left_on='lkey', right_on='rkey', how='right')

In [ ]:
pd.merge(df3, df4, left_on='lkey', right_on='rkey', how='outer')

In [ ]:
left = pd.DataFrame({'key1': ['foo', 'foo', 'bar'],
                     'key2': ['one', 'two', 'one'],
                     'lval': [1, 2, 3]})
right = pd.DataFrame({'key1': ['foo', 'foo', 'bar', 'bar'],
                      'key2': ['one', 'one', 'one', 'two'],
                      'rval': [4, 5, 6, 7]})

In [ ]:
left

In [ ]:
right

In [ ]:
pd.merge(left, right, on=['key1', 'key2'], how='outer')

- treatment of overlapping column names.
-  merge has a suffixes option for specifying strings to appendto overlapping names in the left and right DataFrame objects

In [ ]:
pd.merge(left, right, on='key1')

In [ ]:
pd.merge(left, right, on='key1', suffixes=('_left', '_right'))

- Merging on Index
    - the merge key(s) in a DataFrame can be found in its index.

In [ ]:
left1 = pd.DataFrame({'key': ['a', 'b', 'a', 'a', 'b', 'c'],
                      'value': range(6)})
right1 = pd.DataFrame({'group_val': [3.5, 7]}, index=['a', 'b'])

In [ ]:
left1

In [ ]:
right1

In [ ]:
pd.merge(left1, right1, left_on='key', right_index=True)

In [ ]:
pd.merge(left1, right1, left_on='key', right_index=True, how='outer')

In [ ]:
#we can use the indexes on both tables

left2 = pd.DataFrame([[1., 2.], [3., 4.], [5., 6.]],
                     index=['a', 'c', 'e'],
                     columns=['Ohio', 'Nevada'])
right2 = pd.DataFrame([[7., 8.], [9., 10.], [11., 12.], [13, 14]],
                      index=['b', 'c', 'd', 'e'],
                      columns=['Missouri', 'Alabama'])

In [ ]:
left2

In [ ]:
right2

In [ ]:
pd.merge(left2, right2,  left_index=True, right_index=True)

- DataFrame has a convenient **join** instance for merging by index
- it performs a left join on the join keys, exactly preserving the left frame’s row index

In [ ]:
left2.join(right2)

In [ ]:
left2.join(right2, how ='inner')

In [ ]:
# we can join by index and attribute as with the merge

left1.join(right1, on='key')

In [ ]:
#joining more tables
another = pd.DataFrame([[7., 8.], [9., 10.], [11., 12.], [16., 17.]],
                       index=['a', 'c', 'e', 'f'],
                       columns=['New York', 'Oregon'])
another

In [ ]:
left2.join([right2, another])

## Concatenating Along an Axis

- Another kind of data combination operation is referred to interchangeably as concatenation, binding, or stacking

In [ ]:
arr = np.arange(12).reshape((3, 4))
arr

In [ ]:
np.concatenate([arr, arr], axis=1)

In [ ]:
np.concatenate([arr, arr])

In the context of pandas objects such as Series and DataFrame, having labeled axes
enable you to further generalize array concatenation

In [ ]:
s1 = pd.Series([0, 1], index=['a', 'b'])
s2 = pd.Series([2, 3, 4], index=['c', 'd', 'e'])
s3 = pd.Series([5, 6], index=['f', 'g'])

In [ ]:
s1

In [ ]:
s2

In [ ]:
s3

In [ ]:
pd.concat([s1,s2,s3])

In [ ]:
pd.concat([s1,s2,s3], axis =1)

In [ ]:
s4 = pd.concat([s1, s3])

In [ ]:
s4

In [ ]:
pd.concat([s1, s4], axis=1)

In [ ]:
pd.concat([s1, s4], axis=1, join ='inner')

In [ ]:
pd.concat([s1, s4], axis=1, join_axes=[['a', 'c', 'b', 'e']])

- A potential issue is that the concatenated pieces are not identifiable in the result.

In [ ]:
pd.concat([s1,s2,s3], keys=['s1','s2','s3'])

In [ ]:
pd.concat([s1,s2,s3], keys=['s1','s2','s3']).unstack()

- The same logic extends to DataFrame objects:

In [ ]:
df1 = pd.DataFrame(np.arange(6).reshape(3, 2), index=['a', 'b', 'c'],
                   columns=['one', 'two'])
df2 = pd.DataFrame(5 + np.arange(4).reshape(2, 2), index=['a', 'c'],
                   columns=['three', 'four'])

In [ ]:
df1

In [ ]:
df2

In [ ]:
pd.concat([df1,df2])

In [ ]:
pd.concat([df1,df2], axis =1)

In [ ]:
pd.concat([df1,df2], axis =1, keys =['df1','df2'])

- when the row index does not contain any relevant data

In [ ]:
df1 = pd.DataFrame(np.random.randn(3, 4), columns=['a', 'b', 'c', 'd'])
df2 = pd.DataFrame(np.random.randn(2, 3), columns=['b', 'd', 'a'])

In [ ]:
df1

In [ ]:
df2

In [ ]:
pd.concat([df1,df2])

In [ ]:
pd.concat([df1,df2], ignore_index=True)

## Combining Data with Overlap

- You may have two datasets whose indexes overlap in full or part

In [4]:
a = pd.Series([np.nan, 2.5, np.nan, 3.5, 4.5, np.nan],
              index=['f', 'e', 'd', 'c', 'b', 'a'])
b = pd.Series(np.arange(len(a), dtype=np.float64),
              index=['f', 'e', 'd', 'c', 'b', 'a'])

NameError: name 'pd' is not defined

In [ ]:
a

In [ ]:
b

In [ ]:
b[-1]=np.nan

In [ ]:
b

In [ ]:
np.where(pd.isnull(a), b, a)

- the **combine_first method** performs the equivalent of this operation along with pandas’s usual data alignment logic

In [ ]:
b[:].combine_first(a)

In [ ]:
b[::-1].combine_first(a)

In [ ]:
a[::-1].combine_first(b)

- With DataFrames, combine_first does the same thing column by column
    - you can think of it as “patching” missing data in the calling object with data from the object you pass

In [ ]:
df1 = pd.DataFrame({'a': [1., np.nan, 5., np.nan],
                    'b': [np.nan, 2., np.nan, 6.],
                    'c': range(2, 18, 4)})
df2 = pd.DataFrame({'a': [5., 4., np.nan, 3., 7.],
                    'b': [np.nan, 3., 4., 6., 8.]})

In [ ]:
df1

In [ ]:
df2

In [ ]:
df1.combine_first(df2)

In [ ]:
df2.combine_first(df1)

## Reshaping and Pivoting
- There are a number of basic operations for rearranging tabular data. 
- These are referred to as reshape or pivot operations.

- Hierarchical indexing provides a consistent way to rearrange data in a DataFrame.

- stack
    - This “rotates” or pivots from the columns in the data to the rows
- unstack
    - This pivots from the rows into the columns

In [ ]:
data = pd.DataFrame(np.arange(6).reshape((2, 3)),
                    index=pd.Index(['Ohio', 'Colorado'], name='state'),
                    columns=pd.Index(['one', 'two', 'three']))

In [ ]:
data

In [ ]:
data.stack()

In [ ]:
stacked = data.stack()

In [ ]:
stacked

In [ ]:
stacked.unstack()

In [ ]:
#By default the innermost level is unstacked (same with stack). 
#You can unstack a different level by passing a level number or name:
stacked.unstack(0)

- Unstacking might introduce missing data

In [ ]:
s1 = pd.Series([0, 1, 2, 3], index=['a', 'b', 'c', 'd'])
s2 = pd.Series([4, 5, 6], index=['c', 'd', 'e'])

In [ ]:
s1

In [ ]:
s2

In [ ]:
data2 = pd.concat([s1, s2], keys=['one', 'two'])
data2

In [ ]:
data2.unstack()

# Data Aggregation and Group Operations

- Categorizing a dataset and applying a function to each group is often a critical component of a data analysis workflow. 
- After loading, merging, and preparing a dataset, you may need to compute group statistics or pivot tables for reporting or visualization purposes.

### GroupBy Mechanics
- data contained in a pandas object is split into groups based on one or more keys.
    - The splitting is performed on a particular axis of an object. 
        - For example, a DataFrame can be grouped on its rows (axis=0) or its columns (axis=1).
- a function is applied to each group, producing a new value.
- the results of all those function applications are combined into a result object. 

<img src="fig/GroupBy.png" width=500>

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  0.910580  0.468945
1    a  two  0.024508 -0.416360
2    b  one  0.879707 -0.976998
3    b  two -1.948230 -0.553478
4    a  one  1.865488 -1.380135

- We want to compute the mean of the data1 column using the labels from key1.

In [4]:
grouped = df['data1'].groupby(df['key1'])

- This grouped variable is now a GroupBy object. 
- It has not actually computed anything yet except for some intermediate data about the group key df['key1']. 
- The idea is that this object has all of the information needed to then apply some operation to each of the groups.

In [5]:
grouped

In [6]:
grouped.mean()

key1
a    0.933526
b   -0.534261
Name: data1, dtype: float64

In [7]:
df['data1'].groupby([df['key1'], df['key2']]).mean()

key1  key2
a     one     1.388034
      two     0.024508
b     one     0.879707
      two    -1.948230
Name: data1, dtype: float64

In [ ]:
df['data1'].groupby([df['key1'], df['key2']]).mean().unstack()

In [ ]:
df['data1'].groupby(df['key1']).mean()

In [ ]:
df.groupby(df['key1']).mean()

- Note that there is no key2 column in the result. 
    - df['key2'] is not numeric data. 
    - By default, all of the numeric columns are aggregated

    
    
- the method size returns a Series containing group sizes

In [8]:
df.groupby(['key1', 'key2']).size()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64

- Iterating Over Groups
    - The GroupBy object supports iteration, 
    - It generates a sequence of 2-tuples containing the group name along with the chunk of data

In [9]:
for name, group in df.groupby('key1'):
    print(name)
    print(group)
    print("\n\n")

a
  key1 key2     data1     data2
0    a  one  0.910580  0.468945
1    a  two  0.024508 -0.416360
4    a  one  1.865488 -1.380135



b
  key1 key2     data1     data2
2    b  one  0.879707 -0.976998
3    b  two -1.948230 -0.553478

In [13]:
# multiple keys in the group by clause
for (k1, k2), group in df.groupby(['key1', 'key2']):
    print((k1, k2))
    print(group)
    print("\n\n")

('a', 'one')
  key1 key2     data1     data2
0    a  one  0.910580  0.468945
4    a  one  1.865488 -1.380135



('a', 'two')
  key1 key2     data1    data2
1    a  two  0.024508 -0.41636



('b', 'one')
  key1 key2     data1     data2
2    b  one  0.879707 -0.976998



('b', 'two')
  key1 key2    data1     data2
3    b  two -1.94823 -0.553478

- you can choose to do whatever you want with the pieces of data. 
- A recipe you may find useful is computing a dict of the data pieces as a one-liner:

In [ ]:
pieces = dict(list(df.groupby('key1')))

In [ ]:
pieces

In [ ]:
pieces['a']

In [ ]:
pieces['b']

- By default groupby groups on axis=0, but you can group on any of the other axes.

In [ ]:
df.dtypes

In [ ]:
grouped = df.groupby(df.dtypes, axis=1)

In [ ]:
for dtype, group in grouped:
    print(dtype)
    print(group)

### Selecting a Column or Subset of Columns
- Indexing a GroupBy object created from a DataFrame with a column name or array of column names has the effect of column subsetting for aggregation

In [10]:
df.groupby('key1')['data1'] 
# it is equal to df['data1'].groupby(df['key1'])

In [11]:
df.groupby('key1')[['data2']]
# it is equal to df[['data2']].groupby(df['key1'])

In [12]:
df.groupby('key1')['data2'].mean()

key1
a   -0.442517
b   -0.765238
Name: data2, dtype: float64

### Grouping with Dicts and Series

In [ ]:
people = pd.DataFrame(np.random.randn(5, 5),
                      columns=['a', 'b', 'c', 'd', 'e'],
                      index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])

In [ ]:
people

In [ ]:
mapping = {'a': 'red', 'b': 'red', 'c': 'blue',
           'd': 'blue', 'e': 'orange'}

In [ ]:
by_column = people.groupby(mapping, axis=1)

In [ ]:
by_column.sum()

- The same functionality holds for Series, which can be viewed as a fixed-size mapping

In [ ]:
map_series = pd.Series(mapping)

In [ ]:
map_series

In [ ]:
by_columnSeries = people.groupby(mapping, axis=1)

In [ ]:
by_columnSeries.mean()

### Grouping with Functions
- Any function passed as a group key will be called once per index value, with the return values being used as the group names.

In [ ]:
people

In [ ]:
people.groupby(len).sum()

- Mixing functions with arrays, dicts, or Series is not a problem

In [ ]:
key_list = ['one', 'one', 'one', 'two', 'two']
people.groupby([len, key_list]).min()

### Data Aggregation

<img src="fig/AggregationsPandas.png" width=500>

- Aggregations refer to any data transformation that produces scalar values from arrays. 

- Many common aggregations, such as those found in the above table, have optimized implementations. 

- You are not limited to only this set of methods.
    - For example quantile is not explicitly implemented for GroupBy, it is a Series method and thus available for use.

In [ ]:
grouped = df.groupby('key1')
grouped['data1'].quantile()

-  you can implement a custom function
- you have to pass the function to the agg() method

In [ ]:
def peak_to_peak(arr):
    return arr.max() - arr.min()

In [ ]:
grouped = df.groupby('key1')

In [ ]:
grouped['data1'].agg(peak_to_peak)

In [ ]:
#Note that the method describes works applied to groups
grouped.describe()

## Column-Wise and Multiple Function Application

In [8]:
import pandas as pd
tips = pd.read_csv('data/tips.csv')

In [ ]:
tips.head(10)

In [ ]:
tips.shape

In [ ]:
tips['tip_pct'] = tips['tip'] / tips['total_bill']

In [ ]:
tips.head(10)

- aggregating a Series or all of the columns of a DataFrame is a matter of using aggregate with the desired function or calling a method like mean or std. 
- you may want to aggregate using a different function depending on the column, or multiple functions at once.

In [ ]:
#this is a simple grouping
grouped = tips.groupby(['day', 'smoker'])

In [ ]:
grouped_pct = grouped['tip_pct']

In [ ]:
# for simple statistics, you can pass the name of the function as a string

grouped_pct.agg('mean')

In [ ]:
# If you pass a list of functions or function names , you get back a DataFrame with column names taken from the functions
grouped_pct.agg(['mean', 'std', peak_to_peak])

In [ ]:
#
grouped_pct.agg([('Media', 'mean'), ('Deviazione std', np.std)])

In [ ]:
#you can specify a list of functions to apply to all of the columns or different functions per column
#all columns
functions = ['count', 'mean', 'max']

In [ ]:
grouped['tip_pct', 'total_bill'].agg(functions)

In [ ]:
#aggregation on a selection of the columns

In [ ]:
grouped.agg({'tip' : np.max, 'size' : 'sum'})

## Apply: General split-apply-combine

- We want to select the top five values by group

In [ ]:
def top(df, n=5, column='tip_pct'):
    return df.sort_values(by=column)[-n:]

In [ ]:
top(tips, n=6)

In [ ]:
tips[["day","total_bill"]].groupby(["day"]).max()

In [ ]:
tips[["day","total_bill"]].groupby("day").apply(top, column="total_bill")

In [ ]:
tips[["day","total_bill"]].groupby("day").apply(top, n=1, column="total_bill")

## Pivot Tables 

- A pivot table 
    - aggregates a table of data by one or more keys, 
    - arranges the data in a rectangle with some of the group keys along the rows and the columns.

In [14]:
tips.head(10)

NameError: name 'tips' is not defined

In [9]:
tips.pivot_table(index=['day', 'smoker']) # the default aggregation type is mean

                 size       tip  total_bill
day  smoker
Fri  No      2.250000  2.812500   18.420000
     Yes     2.066667  2.714000   16.813333
Sat  No      2.555556  3.102889   19.661778
     Yes     2.476190  2.875476   21.276667
Sun  No      2.929825  3.167895   20.506667
     Yes     2.578947  3.516842   24.120000
Thur No      2.488889  2.673778   17.113111
     Yes     2.352941  3.030000   19.190588

In [ ]:
tips.pivot_table(index=['day', 'smoker'], aggfunc='sum')

In [ ]:
tips.pivot_table(index=['day', 'size'], columns='smoker')

In [ ]:
tips.pivot_table(index=['day', 'size'], columns='smoker', margins=True)

In [ ]:
tips.pivot_table(index=['day', 'size'], columns='smoker', margins=True, fill_value=-1000)

## Cross-Tabulations: Crosstab
- A cross-tabulation (or crosstab for short) is a special case of a pivot table that computes group frequencies.

In [ ]:
states= ['USA','USA','UK','IT','UK','UK','IT','USA']
gender= ['M','F','F','M','M','M','F','M']

In [ ]:
data = pd.DataFrame({'states':states,'gender':gender})

In [ ]:
data

In [ ]:
pd.crosstab(data.states, data.gender)

In [ ]:
pd.crosstab(data.gender, data.states)

In [ ]:
pd.crosstab(data.gender, data.states, margins=True)