Traccia:
1. Caricare il dataset data/data_banknote_authentication.txt ed assegnarli le colonne "variance", "skewness", "curtosis", "entropy", "class"
2. Visualizzare la distribuzione dei valori della colonna class
3. Dividere il dataset in training e test set
4. Allenare un classificatore di tipo LogisticRegression
5. Calcolare e visualizzare la confusion matrix
6. Calcolare TP, TN, FP e FN
7. Calcolare accuratezza, precision, recall, f1 score, fbeta score, specificity
8. Allenare un altro classificatore a piacere e comparare i risultati

In [1]:
import pandas as pd

In [4]:
ds = pd.read_csv('data/data_banknote_authentication.txt')

In [7]:
ds.columns = ['variance', 'skewness', 'curtosis', 'entropy', 'class']

In [8]:
ds

      variance  skewness  curtosis  entropy  class
0      4.54590   8.16740   -2.4586 -1.46210      0
1      3.86600  -2.63830    1.9242  0.10645      0
2      3.45660   9.52280   -4.0112 -3.59440      0
3      0.32924  -4.45520    4.5718 -0.98880      0
4      4.36840   9.67180   -3.9606 -3.16250      0
...        ...       ...       ...      ...    ...
1366   0.40614   1.34920   -1.4501 -0.55949      1
1367  -1.38870  -4.87730    6.4774  0.34179      1
1368  -3.75030 -13.45860   17.5932 -2.77710      1
1369  -3.56370  -8.38270   12.3930 -1.28230      1
1370  -2.54190  -0.65804    2.6842  1.19520      1

[1371 rows x 5 columns]

In [14]:
ds['class'].describe

<bound method NDFrame.describe of 0       0
1       0
2       0
3       0
4       0
       ..
1366    1
1367    1
1368    1
1369    1
1370    1
Name: class, Length: 1371, dtype: int64>

In [15]:
from sklearn.model_selection import train_test_split

In [41]:
data = ds.iloc[:,0:4]

In [42]:
data

      variance  skewness  curtosis  entropy
0      4.54590   8.16740   -2.4586 -1.46210
1      3.86600  -2.63830    1.9242  0.10645
2      3.45660   9.52280   -4.0112 -3.59440
3      0.32924  -4.45520    4.5718 -0.98880
4      4.36840   9.67180   -3.9606 -3.16250
...        ...       ...       ...      ...
1366   0.40614   1.34920   -1.4501 -0.55949
1367  -1.38870  -4.87730    6.4774  0.34179
1368  -3.75030 -13.45860   17.5932 -2.77710
1369  -3.56370  -8.38270   12.3930 -1.28230
1370  -2.54190  -0.65804    2.6842  1.19520

[1371 rows x 4 columns]

In [58]:
vals = ds.iloc[:,-1]

In [59]:
vals

0       0
1       0
2       0
3       0
4       0
       ..
1366    1
1367    1
1368    1
1369    1
1370    1
Name: class, Length: 1371, dtype: int64

In [60]:
X_train, X_test, y_train, y_test = train_test_split(data, vals, test_size=0.2)

In [61]:
vals

0       0
1       0
2       0
3       0
4       0
       ..
1366    1
1367    1
1368    1
1369    1
1370    1
Name: class, Length: 1371, dtype: int64

In [50]:
from sklearn.linear_model import LinearRegression

In [51]:
model = LinearRegression()

In [62]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

res = model.predict(X_test)

In [64]:
res = model.predict(X_test)